* {
    color: white;
    /* padding: auto ; */
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    background-color: black;
    width: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    border: 5px solid orange;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 50px;
}

.intro  {
    border: 2px solid yellow;
    color: red;
    text-align: center;
    background-color: aqua;
    padding: 2px;
}

.content {
    border: 5px solid pink ;
}

.block-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block  {
    border: 2px solid blue;
    /* background-color: aqua; */
    flex: 1;
    width: 70px;
    padding: 5px;
    margin-left: 5px;
    align-items: center;
    justify-content: center;
}